<h2 xmlns="http://www.w3.org/1999/html">Create Invoice Form</h2>
<h3>Customer Details </h3>
<form [formGroup]="form" #SingupForm="ngForm" (ngSubmit)="submit(SingupForm)" >
 <div class="row1">
  <div>
    <label for="Name">Name</label>
    <input formControlName="Name" id="Name" [(ngModel)]="invoice.Name">
    <div *ngIf="form.controls['Name'].invalid && form.controls['Name'].touched">
      Name is Required, must be alphabets and min length is 5
    </div>
  </div>
  <div>
    <label for="Email">Email</label>
    <input formControlName="Email" id="Email" [(ngModel)]="invoice.Email" >
    <div
      *ngIf="form.controls['Email'].invalid && form.controls['Email'].touched"
    >
      Email is Required and must be a valid email address
    </div>

  </div>
 </div>
  <div class="row2">
  <div>
    <label for="Address">Address</label>
    <input formControlName="Address" id="Address" [(ngModel)]="invoice.Address">
    <div *ngIf="form.controls['Address'].invalid && form.controls['Address'].touched">
      Address is Required, must be alphabets and min length is 15
    </div>
  </div>
  <div>
    <label for="Contact">Contact</label>
    <input formControlName="Contact" id="Contact" [(ngModel)]="invoice.Contact">
    <div *ngIf="form.controls['Contact'].invalid && form.controls['Contact'].touched">
    Frist latter much be 6,7,8,9  allow only Numerical and maximum digit 10 allowed
    </div>
  </div>
  </div>
  <button class="btn1" type="button" (click)="addOption()">Add</button>
  <table>
    <thead>
    <tr>
      <th>Product Name</th>
      <th>Price</th>

      <th>Quantity</th>
      <th>Total</th>
    </tr>
    </thead>
    <tbody formArrayName="Products" class="Product">
    <tr *ngFor="let product of form.controls.Products.controls; let i = index"
        [formGroupName]="i" class="table">


      <td>


        <input formControlName="ProductName" id="ProductName" />
        <div
          *ngIf="
          form.controls['Products'].controls[i].controls['ProductName'].invalid &&
          form.controls['Products'].controls[i].controls['ProductName'].touched
        "
        >
          Category Name required must be alphabets and min length is 5
        </div>


      </td>
      <td>

        <input formControlName="ProductPrice" id="ProductPrice"/>
        <div
          *ngIf="
          form.controls['Products'].controls[i].controls['ProductPrice'].invalid &&
          form.controls['Products'].controls[i].controls['ProductPrice'].touched
        "
        >
         Product Price only required Numerical value
        </div>

      </td>
      <td>

        <input formControlName="ProductQuntity" id="ProductQuntity"/>
        <div
          *ngIf="
          form.controls['Products'].controls[i].controls['ProductQuntity'].invalid &&
          form.controls['Products'].controls[i].controls['ProductQuntity'].touched
        "
        >
          Product Quntity only required Numerical value
        </div>
      </td>
      <td >
        <label > ${{   calculateTotal(i) }}</label>
<!--        {{TotalAMount}}-->
      </td>
      <td>
        <input type="button" value="Remove" class="btn3" (click)="DeleteOption(i)">
      </td>

    </tr>

    </tbody>
  </table>

  <div class="footer">
    <h4 >SubTotal:{{TotalAMount}}</h4>

    <h4>Discount :<input formControlName="Discount" placeholder="Enter Discount % "> </h4>
    <div
      *ngIf="
          form.controls['Discount'].invalid &&
          form.controls['Discount'].touched
        "
    >
      Discount  only required Numerical value or Positive value
    </div>
<h4> Your Discount :  {{discountvalue()}}</h4>
    <h4>Tax Rate :{{Rate}}%</h4>
     <h4>Tax:{{TaxTotal()}}</h4>
    <h2  >Total:{{grandtotal()}}</h2>
  </div>
  <input type="submit" value="Invoice Add" [disabled]="form.invalid" (click)="saveInvoice()"  >
</form>

